{% extends 'store/base_shop.html' %}
{% block title %}Trang chủ{% endblock %}
{% load static %}
{% load humanize %}
{% block content %}
<h1 class="mb-4 text-center">Danh sách sản phẩm</h1>
    <div class="row">
  {% for product in products %}
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text text-primary fw-bold">{{ product.price|floatformat:0|intcomma }}đ</p>
          <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-primary w-100">Xem chi tiết</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}
