{% extends 'store/base_profile.html' %}
{% load i18n %}
{% load form_tags %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow p-4">
        <h4 class="text-center mb-4">Edit Profile</h4>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="mb-3">
            <label for="{{ profile_form.contact_email.id_for_label }}" class="form-label">Email</label>
            {{ profile_form.contact_email|add_class:"form-control" }}
          </div>

          <div class="mb-3">
            <label for="{{ profile_form.contact_phone.id_for_label }}" class="form-label">Phone</label>
            {{ profile_form.contact_phone|add_class:"form-control" }}
          </div>

          <div class="mb-3">
            <label
              for="{{ user_form.first_name.id_for_label }}"
              class="form-label"
              >{% trans "Tên" %}</label
            >
            {{ user_form.first_name|add_class:"form-control" }}
          </div>
          <div class="mb-3">
            <label
              for="{{ user_form.last_name.id_for_label }}"
              class="form-label"
              >{% trans "Họ" %}</label
            >
            {{ user_form.last_name|add_class:"form-control" }}
          </div>

          <div class="mb-4">
            <label
              for="{{ profile_form.profile_picture.id_for_label }}"
              class="form-label"
            >
              {% trans "Ảnh đại diện" %}
            </label>

            {% if profile_form.instance.profile_picture %}
            <div class="mb-2">
              <img
                src="{{ profile_form.instance.profile_picture.url }}"
                alt="{% trans 'Ảnh đại diện' %}"
                class="img-thumbnail"
                width="150"
                height="150"
                style="object-fit: cover; border-radius: 10px"
              />
            </div>
            {% endif %}

            {{ profile_form.profile_picture|add_class:"form-control" }}
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-success">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
